<h1>Animal Detalhes</h1>
<p>ID: <%= animal.id %></p>
<p>nome: <%= animal.nome %></p>
<p>data_nasc: <%= animal.data_nasc %></p>
<p>RGA: <%= animal.RGA %></p>
<p>descricao: <%= animal.descricao %></p>
<a href="/animal" class="btn btn-primary">Back to List</a>
